/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* Common Styles */
body {
    font-family: 'Merriweather', serif;
}

/* Header */
header {
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;

.banner-text{
    padding: 176px 0;
    background-color: #05050559;
}
}

.HNY {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.banner-heading {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}